.CenteredProductList {
    display: flex;
    justify-content: center;
}

.ProductList {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}