.ProductList {
    display: flex;
    grid-template-columns: repeat(5,1fr);
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.ProductList > * {
    flex: 0 0 calc(20% - 20px) !important; /* force 5 per row */
    max-width: calc(20% - 20px) !important;
}



.ProductList .card,
.ProductList > div {
    padding: 10px !important;
}