.CenteredProductList {
    display: flex;
    justify-content: center;
}

.ProductList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    margin-bottom: 100px;
    gap: 20px;
}